body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #313338;
    color: #f5f5f5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: auto;
}

.main-container {
    transform: scale(0.75);
    transform-origin: top center;
    margin: 20px;
}

.title-container {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5865F2;
    border-radius: 12px;
    margin-bottom: 10px;
    font-size: 24px;
}

.description-container {
    margin-bottom: 20px;
}

.description-container p {
    margin: 0;
    color: #f5f5f5;
    font-size: 20px;
}

.description-container a {
    color: #007bff;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    position: relative;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #6cb896; /* New background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 140px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.default-profile {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frame {
    position: absolute;
    width: 120px;
    height: 120px;
    object-fit: cover;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.download-link {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.download-link:hover,
.download-link:active {
    text-decoration: underline;
}

@media (min-width: 769px) {
    .item {
        width: 300px;
        height: 340px;
    }

    .image-wrapper {
        width: 288px;
        height: 288px;
    }

    .default-profile {
        width: 240px;
        height: 240px;
    }

    .frame {
        width: 288px;
        height: 288px;
    }

    .download-link {
        font-size: 24px;
        bottom: 10px;
    }
}

@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
